<div id="education">
  <h2>Education</h2>
  {{#each entries}}
    <div class="education-entry">
      <div class="entry-title">{{this.name}} - {{this.degree}}</div>
      <div class="dates">{{this.dates}}</div>
      <div class="location">{{this.city}}</div>
      <div class="entry-text">{{this.major}}</div>
    </div>
  {{/each}}
</div>