<div id="left-header">{{firstName}} {{middle}}<br>{{lastName}}</div>
<div id="center-header">
  <a href="files/resume.pdf" download>
    <span class="glyphicon glyphicon-download"></span>
  </a>
</div>
<div id="right-header">
  <div><span class="glyphicon glyphicon-map-marker"> {{location}}</span></div>
  <div><span class="glyphicon glyphicon-phone"> {{mobile}}</span></div>
  <div><a href="mailto:{{email}}"><span class="glyphicon glyphicon-envelope"> {{email}}</span></a></div>
  <div><a href="{{githubUrl}}"><span class="glyphicon glyphicon-user"> {{githubUser}}</span></a></div>
</div>