<div class="header-padder"></div>
<div id="left-header">{{firstName}}<br>{{lastName}}</div>
<div class="header-padder"></div>
<div id="center-header">
  <a href="files/resume.pdf" download>
    <span class="glyphicon glyphicon-download"></span>
  </a>
</div>
<div class="header-padder"></div>
<div id="right-header">
  <div><span class="glyphicon glyphicon-map-marker"></span> {{location}}</div>
  <div><span class="glyphicon glyphicon-phone"></span> {{mobile}}</div>
  <div><a href="mailto:{{email}}"><span class="glyphicon glyphicon-envelope"></span> {{email}}</a></div>
  <div><a href="{{githubUrl}}" target="_blank"><span class="btn-social-icon btn-github"><i class="fa fa-github"></i></span> {{githubUser}}</a></div>
</div>
<div class="header-padder"></div>