<div id="projects">
  <h2>Projects</h2>
  {{#each entries}}
    {{#if this.display}}
    <div class="project-entry">
      <a class="entry-title" {{#if this.extern}} href="{{this.link}}" target="_blank"
         {{else}} href="javascript:void(0)" onclick="unavailableAlert();" 
         {{/if}}>
        {{this.title}}
      </a>
      <div class="dates">{{this.dates}}</div>
      <div class="entry-text">{{this.description}}</div>
    </div>
    {{/if}}
  {{/each}}
</div>