<div id="workExperience">
  <h2>Work Experience</h2>
  {{#each entries}}
    {{#if this.display}}
    <div class="work-entry">
      <div class="location">{{this.location}}</div>
      <div class="entry-title">{{this.employer}} - {{this.position}}</div>
      <div class="dates">{{this.dates}}</div>
      <div class="entry-text" >{{this.description}}</div>
    </div>
    {{/if}}
  {{/each}}
</div>