<div id="workExperience">
  <h2>Work Experience</h2>
  {{#each entries}}
    {{#if this.display}}
    <div class="work-entry">
      <div>{{this.employer}} - {{this.position}}</div>
      <div class="data">{{this.dates}}</div>
      <div class="location">{{this.location}}</div>
      <p><br>{{this.description}}</p>
    </div>
    {{/if}}
  {{/each}}
</div>